.servicesDisplayContainer{
    border: 1px solid red;
    width: 900px;
    min-height: 80vh;
    margin: 0 auto;
    padding-top: 15vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}
.servicesDisplayContainer>h2{
    text-align: center;
}
.displayContainer{
    width: 100%;
    display: flex;
    max-height: 70vh;
    align-items: center;
    justify-content: space-between;
    margin-top: 2vh;
    border: 1px solid blue;
    overflow-y: auto;
    flex-wrap: wrap;
}

.displayServiceCard{
    width: 290px;
    height: 400px;
    border: 1px solid black;
    /* border-radius: 10% 10% 0 0; */
    display: flex;
    align-items: center;
    justify-content: center;
}