.personnelCardsContainer{
    position: relative;
    top: 100vh;
    height: 100vh;
    /* background-color: white; */
    padding-top: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(to bottom, rgba(45, 45, 50, 0.95) 0%, rgba(216, 216, 216, 0.9) 10%, rgba(255, 255, 255, 0.9) 100%);
}

.bounceCardsContainer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    margin: auto;
}

.card {
    position: absolute;
    width: 250px;
    aspect-ratio: 1;
    border: 5px solid #fff;
    border-radius: 25px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    background-color: white;
}

.card .image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}