.light-rays-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 0;
}

.light-rays-container canvas {
    display: block;
    width: 100%;
    height: 100%;
}
