.scissors-container {
    width: 40%;
    height: 80vh;
}

.scissors-container canvas {
    width: 90% !important;
    height: 100% !important;
}

@media (max-width: 1200px) {
    .scissors-container {
        width: 45%;
        height: 60vh;
    }
}

@media (max-width: 1000px) {
    .scissors-container {
        width: 40%;
        height: 50vh;
    }
}

@media (max-width: 767px) {
    .scissors-container{
        position: absolute;
        top:50%;
        width: 60%;
        height: 40vh;
    }
}



