.signUpForm{
    border: 2px solid black;
    background-color: white;
    position: absolute;
    width: 60%;
    /* top:20%; */
    left: 20%;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.formHeader {
    position: relative;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #F8F9FA;
    /* border-radius: 500%; */
    box-shadow: 0 6px 20px rgba(255, 107, 53, 0.25);
}

.formHeader > button{
    flex: 1;
    border: 0;
    background-color:white;
    padding: 2% 10%;
    font-size: 1.2rem;
}

.formHeader>.signUpButton{
    border-right: 1px solid black;
}

.underline {
    position: absolute;
    bottom: 0;
    left: 10%;
    width: 30%;
    height: 3px;
    background-color: #ff6b35;
    transition: transform 0.3s ease;
    border-radius: 30%;
    /* transform: translateX(0%); */
}

/* ////////////    SIGNUP SECTION     /////////////// */
.signUpSection{
    /* outline: 1px solid red; */
    /* padding-top: 10%; */
    height: 50%;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    flex-direction: column;
}

/* .signUpSection>h4{
    margin-block: 25%;
} */

/* .signUpSection>label{
    margin-bottom: 3%;
} */

.signUpSection>input{
    text-align: center;
}

.loginSection{
    /* outline: 1px solid red; */
    /* padding-top: 10%; */
    height: 50%;
    display: flex;
    /* align-items: center; */
    justify-content: space-evenly;
    flex-direction: column;
}